* {
  font-family: Helvetica, sans-serif
}

hr {
  border: none;
  margin: 60px 0 20px 0;
  border-bottom: 1px solid #d6d6d6;
}

.quill-preview {
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 5px 14px;
  background: #fbfbfb;
}

/* CUSTOM QUILL STYLES */

.ql-toolbar.ql-snow,
.ql-container.ql-snow  {
  border-radius: 10px;
  border-width: 1px;
  border-color: #8fccce;
}

.ql-toolbar.ql-snow {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: rgba(143, 204, 206, .2);
}

.ql-toolbar.ql-snow button {
  white-space: nowrap;
  width: auto;
}

.ql-container.ql-snow {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  min-height: 100px;
  max-height: 300px;
  overflow: auto;
}
